@using MetricsExtractor
@model MetricsExtractor.EstadoDoProjeto
<html>
<head>
    <title>Resultado Geral</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="site.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="bootstrap.min.js"></script>
</head>
<body>
    <div class="centered">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title texto-centralizado">Saúde do Projeto</h1>
            </div>
            <div class="panel-body">
                <div class="progress progress-striped barra-de-progresso">
                    <div class="progress-bar progress-bar-success"></div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Manutenibilidade</th>
                            <th>Complexidade Ciclomática Média</th>
                            <th>Complexidade Ciclomática Máxima</th>
                            <th>Acoplamento</th>
                            <th>Herança</th>
                            <th>Linhas de código</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.Manutenibilidade</td>
                            <td>@Model.MediaComplexidadeCiclomatica</td>
                            <td>@Model.MediaComplexidadeCiclomatica</td>
                            <td>@Model.Acoplamento.ToString("P")</td>
                            <td>@Model.ProfuDeHeranca.ToString("N0")</td>
                            <td>@(Model.LinhasDeCodigo.ToString("N0"))</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <h2>Saúde das classes</h2>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="success">Rank A</th>
                        <th class="success">Rank B</th>
                        <th class="warning">Rank C</th>
                        <th class="warning">Rank D</th>
                        <th class="danger">Rank E</th>
                        <th class="danger">Rank F</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.TotalDeClassesPorRank[ClassRank.A]</td>
                        <td>@Model.TotalDeClassesPorRank[ClassRank.B]</td>
                        <td>@Model.TotalDeClassesPorRank[ClassRank.C]</td>
                        <td>@Model.TotalDeClassesPorRank[ClassRank.D]</td>
                        <td>@Model.TotalDeClassesPorRank[ClassRank.E]</td>
                        <td>@Model.TotalDeClassesPorRank[ClassRank.F]</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="">
                                Collapsible Group Item #1
                            </a>
                            <span class="badge">14</span>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2>TypesLinesOfCode</h2>
            <ul>
                @foreach (string nm in Model.TypesLinesOfCode)
                {
                    <li>@nm</li>
                }
            </ul>
        </div>
        <div>
            <h2>Métodos ruins (@Model.MetodosRuins.Count/@Model.TotalDeMetodos => @Model.PercentualDeMetodosRuins.ToString("P"))</h2>
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Classe</th>
                        <th>Nome do método</th>
                        <th>Quantidade de linhas(IL)</th>
                        <th>Complexidade Ciclomática</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MetodoRuim metodoRuim in Model.MetodosRuins)
                    {
                        <tr>
                            <td>@metodoRuim.ClassName</td>
                            <td>@metodoRuim.NomeMetodo</td>
                            <td>@metodoRuim.QuantidadeDeLinhas</td>
                            <td>@metodoRuim.Complexidade</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
    <script type="text/javascript">
        setTimeout(function () {
            document.querySelector(".progress-bar-success").style.width = "@(Model.Manutenibilidade)%";
        }, 100);
    </script>
</body>
</html>